.follow-page-container {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    overflow: hidden;
}

.follow-page-body {
    display: flex;
    flex-grow: 1;
    overflow: hidden;
}

.follow-content-area {
    flex-grow: 1;
    background-color: #fff;
    overflow-y: auto;
    height: 100%;
    transition: all 0.3s ease; 
    padding-right: 0; 
    box-sizing: border-box;
}

.follow-page-body.sidebar-collapsed .follow-content-area {
    padding-right: 65px; 
}